*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--bg-primary);
}
body::-webkit-scrollbar {
    width: 10px;    
}

body::-webkit-scrollbar-track {
    background: rgba(66, 66, 66, 0.233);        /* color of the tracking area */
    border-radius: 8px;       /* roundness of the scroll thumb */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(66, 66, 66, 0.404);    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
    border: 4px solid transparent;  /* creates padding around scroll thumb */
}

div::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
    background: rgba(66, 66, 66, 0.404);        /* color of the tracking area */
    border-radius: 8px;       /* roundness of the scroll thumb */
}
  
div::-webkit-scrollbar-thumb {
    background-color: rgba(66, 66, 66, 0.404);    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
    border: 4px solid transparent;  /* creates padding around scroll thumb */
}

body.light {
    --bg-primary: var(--bg-primary-l);
    --icon-darkmode: var(--icon-dark-mode-l);
    --text-color: var(--h1-color-l);
    --navbar-txt-color: var(--navbar-txt-color-l);
    --navbar-bg-color: var(--navbar-bg-color-l);
    --link-color: var(--link-color-l);
    --link-color-hover: var(--link-color-hover-l);
}

body.dark {
    --bg-primary: var(--bg-primary-d);
    --icon-darkmode: var(--icon-dark-mode-d);
    --text-color: var(--h1-color-d);
    --navbar-txt-color: var(--navbar-txt-color-d);
    --navbar-bg-color: var(--navbar-bg-color-d);
    --link-color: var(--link-color-d);
    --link-color-hover: var(--link-color-hover-d);
}


p {
    color: var(--p-color);
}

a {
    color: var(--link-color);

}

a:hover {
    color: var(--link-color-hover);
}


body, input, button, textarea {
    font: 500 18px Changa, sans-serif;

}