:root {

    /* --LIGHT--MODE--*/

    --bg-primary-l: linear-gradient(180deg, #8EDDFF 0%, #FFFFFF 100%)  ;
    --bg-secondary-l: #eee;
    --h1-color-l: #2F80ED;
    --p-color-l: #6d6d6d;
    --link-color-l: #2F80ED;
    --link-color-hover-l: #eee;
    --icon-dark-mode-l: url('../assets/moon.svg') no-repeat center;
    --navbar-txt-color-l: #2F80ED;
    --navbar-bg-color-l: #fff;

    /* --DARK--MODE--*/

    --bg-primary-d: rgb(53, 53, 53);
    --bg-secondary-d: #eee;
    --h1-color-d: #3cc368;
    --p-color-d: #6d6d6d;
    --link-color-d: #2F80ED;
    --link-color-hover-d: #eee;
    --icon-dark-mode-d: url('../assets/sun.svg') no-repeat center;
    --navbar-txt-color-d: #aeaeae;
    --navbar-bg-color-d: rgb(66, 66, 66);

}