.list {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    /* white-space: nowrap; */
    width: 272px;
}

.list-content {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-header {
    flex: 0 0 auto;
    min-height: 20px;
    padding: 10px 8px;
    position: relative;
}

.list-cards {
    flex: 1 1 auto;
    margin: 0 4px;
    min-height: 0;
    padding: 0 4px;
    /* z-index: 1; */
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    color: gray;
    margin: 5px;
    line-height: 16px;
}

.list-cards p {
    padding: 10px;
    margin-inline: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.list-cards p:hover{
    background-color: #eeee;
}

.card-composer {
    display: flex;
    justify-content: space-between;
    max-height: 38px;
    min-height: 38px;
}

