#darkMode {
    background: transparent;
    /* background-size: 40px 40px; */
    /* width: 45px;
    height: 45px; */
    border: none;
    /* transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out; */
    /* overflow: hidden; */
    /* transition-duration: 0.8s;
    transition-property: transform; */
    margin-inline: 30px;
  }
  
  #darkMode:hover {
    /* filter: grayscale(100%); */
    /* transform: rotate(200deg);
    -webkit-transform: rotate(200deg); */

  }
  #darkMode:focus {
    filter: none;
    /* background-color: black; */
    cursor: pointer;
  }
  
  #darkMode.clicked {
    filter: none !important;
    /* background-color: rgb(115, 233, 115); */
  }