#page-workspace{
    width: 100%;
    height: 100%;
}

#page-workspace .content-wrapper {
    position: relative;
    /* max-width: 1100px; */
    padding-top: 120px;
    max-height: 1680px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
}

#page-workspace .content-wrapper-bg {
    background: url('../../assets/landing.svg') no-repeat 80% center;

}
#page-workspace .content-cards {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: start;
    padding: 15px;
}
#page-workspace .content-wrapper main {
    max-width: 350;

}

#page-workspace .content-wrapper h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    color: white;
}

#page-workspace .content-wrapper p {
    margin: 5px;
    font-size: 24px;
    line-height: 26px;
    color: white;
}