#page-workspace{
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
    /* position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: max-content;
    display: flex; */
    flex-grow: 1;
    /* position: relative; */
}

#page-workspace .content-wrapper {
    /* position: relative; */
    padding-top: 10px;
    flex-direction: column;   
    
}

#page-workspace .navibarr {
    padding-top: 15px;
    margin-left: 50px;
    align-items: center;
    align-content: space-between;
    /* display: flex; */
}
#page-workspace input {
    margin-left: 15px;
    padding-inline: 15px;
    color: #ffffff;
    font-size: 25px;
    background: #6e00ff ;
    height: 60px;
    border-radius: 6px;
}
#page-workspace .content-cards {
    /* flex-direction: row;
    display: flex;
    justify-content: start;
    padding: 15px; */
    bottom: 0;
    left: 0;
    margin-top: 100px;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: row;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

#page-workspace .content-wrapper h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    color: white;
}

.card-composerr {
    /* margin: 10px;
    padding: 2px;
    padding-inline: 6px; */
    padding-right: 35px;
    
}



