.card { 
    /* padding: 10px; */
    /* margin-inline: 5px;
    margin-bottom: 10px; */
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 8px;
}

.card p {
    margin: 0px;
    font-size: 14px;
    line-height:1.5;
    padding: 10px;
}
.card p :hover{
    background: none;
}
.card :hover {
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
}