.card { 
    /* padding: 10px; */
    /* margin-inline: 5px;
    margin-bottom: 10px; */
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 8px;
}

.card :hover { 
    background-color: #eee;
}

.card p {
    margin: 0px;
    font-size: 14px;
    padding: 10px;
}