.list {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    /* white-space: nowrap; */
    min-width: 272px;
}

.list-content {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-header {
    flex: 0 0 auto;
    min-height: 20px;
    padding: 10px 8px;
    position: relative;
}

.list-cards {
    flex: 1 1 auto;
    margin: 0 4px;
    min-height: 0;
    padding: 0 4px;
    /* z-index: 1; */
    overflow-x: hidden;
    overflow-y: auto;
}

p {
    color: gray;
    margin: 5px;
    line-height: 16px;
}

/* .list-cards p {
    padding: 10px;
    margin-inline: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.list-cards p:hover{
    background-color: #eeee;
} */

.card-composer {
    display: flex;
    justify-content: center;
    margin-block: 10px;
    /* max-height: 38px;
    min-height: 38px; */
}

.buttons-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px;

}

.button {
    background-color: rgba(45, 226, 21, 0.933);
    border-radius: 4px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 120px;
}

